<!-- <div class="row">
  {% if SITEIMAGE %}
    <div class="col-sm-4">
      <a href="{{ SITEURL }}/">
        <img class="img-fluid rounded" src={{ url(SITEIMAGE) }} alt="{{ SITENAME }}">
      </a>
    </div>
  {% endif %}
  <div class="col-sm-{% if SITEIMAGE %}8{% else %}12{% endif %}">
    <h1 class="title"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    {% if SITESUBTITLE %}
      <p class="text-muted">{{ SITESUBTITLE }}</p>
    {% endif %}
    {% if LINKS or (DISPLAY_PAGES_ON_MENU and pages) or ICONS %}
      <ul class="list-inline">
        {% for title, link in LINKS %}
          <li class="list-inline-item"><a href="{{ url(link) }}" target="_blank">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in pages %}
            {% if LINKS and loop.first %}
              <li class="list-inline-item text-muted">|</li>
            {% endif %}
            <li class="list-inline-item"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        {% endif %}
        {% for icon, link in ICONS %}
          {% if (LINKS or (DISPLAY_PAGES_ON_MENU and pages)) and loop.first %}
            <li class=" list-inline-item text-muted">|</li>
          {% endif %}
          <li class="list-inline-item"><a class="fa fa-{{ icon }}" href="{{ url(link) }}" target="_blank"></a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
 -->

 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">manasvini krishna</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">home</a>
          </li>
         <!--  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">blog</a>
          </li> -->
       <!--    <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">consulting</a>
          </li> -->
          {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in pages %}
              <a class="nav-link lowercase" href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
            {% endfor %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>